body {
    background-color: white;
    /* color: white; */

}

.banner{
    min-height: 200px;
}


.main-container{
    margin-left: 250px;
}
h1{
    background-color: slategray;
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
    font-style: oblique;
}
ul {
    list-style-type: none;
}
li.coming {
    text-decoration: none;
    font-style: normal;
    font-size: larger;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
aside {
    float: left;
    width: 230px;
    padding: 0px 0px 0px 20px;
}
aside section {
    display: block;
    padding: 10px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: line-through;
    cursor: progress;
}
a:hover {
text-decoration: initial;
cursor: pointer;
}
p{
    color: purple;
    font-size: x-large;
}
input.submit:active {
    background-color: lightcoral;
}
input.text:focus {
    color: lightcoral;
}

.test{
    color: black;
}
#media {
 color: blue;   
}
.media {
color: palevioletred;
}
.icon {
    color: blue;
}